.bk-navigation .bk-navigation-wrapper .navigation-nav {
    display: none;
}

.bk-navigation .bk-navigation-wrapper .navigation-container .container-header {
    display: none;
}

.icon-arrows-left {
    display: none;
}
